<section>
  <poke-loader *ngIf="loader"></poke-loader>

  <div fxLayout="row wrap" *ngIf="!loader">
    <div fxFlex="100" fxLayoutAlign="start center">
      <button mat-icon-button color="primary" [routerLink]="['/']">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <div fxFlex="25">
      <mat-card class="poke-card">
        <mat-card-header>
          <mat-card-title>#{{pokemon?.number}} {{pokemon?.name}}</mat-card-title>
        </mat-card-header>

        <ng-container *ngIf="pokemon?.image">
          <img mat-card-image class="poke-image" [src]="pokemon?.image">
        </ng-container>
        <mat-card-content>
          <mat-chip-list>
            <mat-chip *ngFor="let type of pokemon?.types" [ngClass]="type">
              {{type}}
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="75">
      <app-poke-information [pokemon]="pokemon"></app-poke-information>
    </div>

    <!-- <pre>{{pokemon | json}}</pre> -->
  </div>
</section>