.sub {
  font-size: 16px;
  font-weight: 600;
}

.info {
  color: #212121;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.attacks {
  color: #aaa;
  font-weight: 600 !important;
  margin: 10px !important;
}