.poke-card {
  height: 350px;
  margin: 10px 0;
  cursor: pointer;
}

.poke-image{
  height: 215px;
  max-width: 100%;
  display: block;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}