.Grass {
  background-color: #9bcc50 !important;
  color: #000;
}

.Poison {
  background-color: #b97fc9 !important;
  color: #fff !important;
}

.Fire {
  background-color: #fd7d24 !important;
  color: #fff !important;
} 

.Flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%) !important;
  color: #000;
}

.Water {
  background-color: #4592c4 !important;
  color: #fff !important;
}

.Bug {
  background-color: #729f3f !important;
  color: #fff !important;
}

.Normal {
  background-color: #a4acaf !important;
  color: #000;
}

.Electric {
  background-color: #eed535 !important;
  color: #000;
}

.Ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%) !important;
  color: #000;
}

.Fairy {
  background-color: #fdb9e9 !important;
  color: #000;
}

.Fighting {
  background-color: #d56723 !important;
  color: #fff !important;
}

.Psychic {
  background-color: #f366b9 !important;
  color: #fff !important;
}

.Rock {
  background-color: #a38c21 !important;
  color: #fff !important;
}

.Ice {
  background-color: #51c4e7 !important;
  color: #000;
}

.Ghost {
  background-color: #7b62a3 !important;
  color: #fff !important;
}

.Dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%) !important;
  color: #fff !important;
}